* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* Header styles start*/
  header {
    padding: 20px 35px;
    background-color: #010f36;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #c9c9c9;
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: #c9c9c9;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

 /* Header styles end*/

  
  /* Hero Style Start */
  .hero {
    background-image: url('./assets/actheadshot.jpg');
    height: 400px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
  }
  /* Hero Style End */
  
 /* Content Sections styles start*/

  .intro,.projects,.resume {
    text-align: center;
    background: #c9c9c9;
  }
  
  .intro p, .projects p, .resume p {
    line-height: 1.7;
    color: #000000;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
  }

  .section-title {
    font-size: 55px;
    color: #010f36;
    margin-bottom: 35px;
    padding: 20px 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
  }
  
  .primary-border {
    border-color: #010f36;
  }

  .secondary-border {
    border-color: #c9c9c9;
  }

 /* Content Sections styles end*/
 /* Flexbox styles start*/

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #000000;
}

.flexbox-item-1 {
    min-height: 300px;
    flex: 1 0 90%;
}

.flexbox-item-2, .flexbox-item-3, .flexbox-item-4 {
    min-height: 200px;
    flex: 0 1 30%;
}


 /* Flexbox styles end*/
  /* Contact Style Starts */
  .contact {
    text-align: center;
    background: #010f36;
  }
  
  .contact h2 {
    color: #c9c9c9;
  }
  
  .contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
  }
  
  .contact-info h3 {
    color: #c9c9c9;
    font-size: 32px;
  }
  
  .contact-info p,
  .contact-info address, 
  .contact-info a {
    color: #c9c9c9;
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
  }

    /* Contact Style Ends */

